*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
